.maindiv{
    width: 99%;
    margin: auto;
    height: 2000px;
    border: 1px solid black;
    margin-top: 5vh;
    margin-bottom: 20vh;
}
.flexdiv{
    display: flex;
    flex-direction: row;
    width: 95%;
    height: auto;
    
    /* border: 1px solid black; */
    margin: auto;
    margin: 2.5%;
    
}
.marginleft{
    width: 30%;
    height: auto;
    margin-left: 2%;
    box-shadow: 0px 0px 5px rgb(187, 187, 187);
    border-radius: 10px;
    padding-bottom: 50px;
    /* border: 1px solid black; */

}